#main-header {
  display: none;
}

.header-hide {
  opacity: 0 !important;
  z-index: 0 !important;
}

.info {
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 70px;
    font-family: $font-primary;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
    position: relative;

    @media (max-width: 980px) {
      font-size: 58px;
    }

    @media (max-width: 430px) {
      font-size: 40px;
    }
  }

  hr {
    height: 1px;
    width: 8em;
    border: none;
    z-index: 2;
    background: #000;
  }

  h3 {
    color: #000;
    font-size: 30px;
    font-family: $font-secondary;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
    position: relative;
    top: 0.5em;

    @media (max-width: 980px) {
      font-size: 24px;
    }
  }
}

.hero-section {
  position: fixed !important;
  margin: 0 auto;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 1;
  background: #ededed;

  &.left,
  &.right {
    height: 100vh;
    width: 50%;
    position: fixed;
    transition: 0.75s;
    z-index: 2;
  }

  &.left {
    left: 0;
    background: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -198%;
      width: 300%;
      height: 100%;
      background: rgba(128 0 0 / 50%);
      transform: skewX(121deg);
      transition: 0.3s;

      @media (min-width: 820px) and (max-width: 980px) {
        left: -250%;
        width: 352%;
      }

      @media (max-width: 768px) {
        transform: skewX(155deg);
      }
    }
  }

  &.right {
    right: 0;
    background: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 2%;
      width: 300%;
      height: 100%;
      background: rgba(128 0 0 / 50%);
      transform: skewX(121deg);
      transition: 0.3s;

      @media (min-width: 820px) and (max-width: 980px) {
        width: 340%;
      }

      @media (max-width: 768px) {
        transform: skewX(155deg);
      }
    }
  }
}

.open-left {
  left: -105% !important;
  z-index: 3;

  @media (max-width: 1450px) {
    left: -185% !important;
  }
}

.open-right {
  right: -100% !important;
  z-index: 3;

  @media (max-width: 1450px) {
    right: -180% !important;
  }
}

.nav {
  top: 3em;
  color: #000;
  position: relative;
  letter-spacing: 1px;
  z-index: 2;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 40em;

    @media (max-width: 430px) {
      flex-direction: column;
      width: auto;
    }

    li {
      font-family: $font-primary;
      font-size: 18px;
      transition: 0.3s;
      border: 1px solid #fff;
      border-radius: 20px;
      padding: 0.5em 1em;

      @media (max-width: 430px) {
        font-size: 18px;

        &:first-child {
          margin-bottom: 1.5em;
        }
      }

      .fa-light {
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        right: 1em;
      }

      &:hover {
        cursor: pointer;
        padding-right: 2em;
        background: #fff;

        .fa-light {
          opacity: 1;
          right: 0.5em;
        }
      }
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 2em;
  max-width: 1600px;
  position: fixed;
  z-index: 1;
  overflow-x: unset;
  height: 100vh;
  padding: 4em 6em 10em;
  background: #ededed;

  @media (max-width: 980px) {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    padding: 1em 3em 10em;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 1em 3em 10em;
  }

  @media (max-width: 430px) {
    padding: 1em 0 10em;
    grid-template-columns: 1fr;
    width: 100%;
    overflow-x: unset;
  }

  .project {
    margin: 0 auto;
    width: 100%;
    max-width: 1650px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    box-shadow: 0 5px 20px #808080;
    display: flex;
    justify-content: center;
    overflow: hidden !important;
    height: 18em;

    &:hover {
      .project-background {
        transform: translateY(0) !important;
        visibility: visible !important;

        .project-details {
          opacity: 1;
        }
      }
    }

    @media (max-width: 430px) {
      margin: 0 auto;
      width: 90%;
      height: 15em !important;
    }

    .background-container {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;

      .project-background {
        background: #595565;
        transform: translateY(18em);
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18em;

        @media (max-width: 430px) {
          height: 15em;
          visibility: hidden;
        }

        &:hover {
          transform: translateY(0);
        }

        .project-details {
          max-width: 100%;
          font-size: 18px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          opacity: 1;
          transition: 0.3s;
          color: #fff;
          z-index: 1;
          position: relative;
          height: 12em;
          width: auto;

          .project-name {
            text-transform: uppercase;
            font-size: 22px;
            text-align: center;

            @media (min-width: 1040px) and (max-width: 1200px) {
              text-align: center;
            }

            @media (max-width: 430px) {
              font-size: 22px;
            }
          }

          .links {
            display: flex;
            align-items: center;
            width: auto;
            justify-content: space-evenly;

            @media (min-width: 1040px) and (max-width: 1200px) {
              flex-direction: column;
              height: 6em;
            }

            a {
              color: #fff;
              font-family: $font-primary;
              text-transform: uppercase;
              letter-spacing: 1px;
              text-align: center;
            }

            .view-github {
              border-left: 1px solid #fff;
              padding-left: 1em;
              margin-left: 1em;

              @media (min-width: 1040px) and (max-width: 1200px) {
                border-left: none;
                border-top: 1px solid #fff;
                padding-left: 0;
                margin-left: 0;
                padding-top: 8px;
              }
            }
          }

          .project-information {
            border: 2px solid #800020;
            background: transparent;
            font-size: 18px;
            padding: 0.5em 1em;
            color: #fff;
            border-radius: 5px;
            transition: 0.3s;
            font-family: $font-primary;
            letter-spacing: 1px;

            &:hover {
              background: #800020;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .nav {
    opacity: 1;
    position: fixed;
    top: 90vh;

    @media (min-width: 981px) {
      right: -30em;
    }

    @media (max-width: 980px) {
      right: -22em;
    }

    @media (max-width: 430px) {
      right: -15em;
    }

    ul {
      width: auto;
    }

    li {
      background: #800000;
      border: 2px solid #800000;
      color: #fff;
      transition: 0.3s;

      @media (max-width: 430px) {
        font-size: 14px;
        padding: 0.8em 1em;
      }

      &:hover {
        padding-right: 1em;
        color: #800000;
        background: #fff;
      }
    }

    @media (max-width: 430px) {
      top: 80vh;
    }
  }
}

.modal {
  height: 100%;
  display: none;
  align-items: center;
  width: 100%;
  background: rgba(0 0 0 / 70%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  .close-modal {
    position: absolute;
    right: -2em;
    top: -3em;
    background: #800020;
    height: 2.5em;
    width: 2.5em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;

    @media (max-width: 430px) {
      right: 0 !important;
    }

    .fa-xmark {
      &:hover {
        cursor: pointer;
      }

      &::before {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  .project-information-modal {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background: #ededed;
    width: 600px;
    max-width: calc(95% - 4em);
    padding: 1em;
    height: auto;
    border-radius: 10px;

    @media (max-width: 430px) {
      max-width: calc(95% - 1em);
    }

    p {
      color: #000;
      font-family: $font-primary;
      line-height: 24px;
      font-size: 18px;
    }
  }
}

.about-contact {
  position: fixed;
  z-index: 2;
  height: 100vh;
  background: #ededed;
  top: -120%;
  display: flex;
  align-items: center;
  transition: 0.5s;

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: scroll;
    padding: 5em 1.5em 10em;
  }

  .about,
  .contact {
    width: 50%;
    padding: 2em;

    @media (max-width: 980px) {
      width: 100%;
      padding: 0;
    }
  }

  .about {
    padding-bottom: 0 !important;
    font-size: 18px;
  }

  .contact {
    padding-top: 0;
    margin-top: 5em;
  }

  h2 {
    text-align: center;
    font-size: 34px;
  }

  .close {
    width: 3em;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #800000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-light {
      &::before {
        font-size: 32px;
      }
    }
  }

  .gform-body {
    &.gform_body {
      .gform_fields {
        &.top_label {
          grid-row-gap: 1.5em !important;

          input,
          textarea {
            border: 1.5px solid #800000;
            background: #ededed;
          }
        }
      }
    }
  }

  .gform_footer {
    &.before {
      .gform_button.button {
        background: #800000 !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        font-weight: 18px !important;
      }
    }
  }
}
