.et_pb_section {
  &.contact-us {
    .label {
      color: $color-orange;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      @media (max-width: $mobile-medium) {
        font-size: 15px;
      }
    }

    .phone a,
    .address {
      color: $color-black;
      font-family: $font-secondary;
      font-size: 28px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.56px;

      @media (max-width: $mobile-medium) {
        font-size: 20px;
      }
    }

    .address {
      margin-top: 0.5em;
    }

    .contact-socials {
      margin-top: 2em;

      .socials {
        display: flex;
        justify-content: space-between;
        width: 7em;
        margin-top: 1em;

        @media (max-width: $tablet-large) {
          width: 9em;
        }

        .fa-brands {
          background: $color-primary;
          border-radius: 50%;
          width: 1.3em;
          height: 1.3em;
          display: flex;
          justify-content: center;

          @media (max-width: $tablet-large) {
            width: 1.5em;
            height: 1.5em;
          }

          &::before {
            color: $color-white;
            display: flex;
            align-items: center;
            font-size: 16px;
          }
        }
      }
    }

    .gform-body.gform_body {
      margin-top: 0;
    }

    .et_pb_module {
      &:first-child {
        margin-bottom: 0;
      }
    }

    h3 {
      color: $color-primary;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $color-primary;
      font-family: $font-primary;
      font-size: 56px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.12px;

      @media (max-width: $mobile-medium) {
        font-size: 35px;
      }
    }

    .description {
      color: $color-black;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4px;

      @media (max-width: $mobile-medium) {
        font-size: 15px;
      }
    }
  }
}
