.et_pb_section {
  &.floating-images {
    background: rgb(43 67 88 / 80%);
    height: 90vh;
    display: flex;

    @media (max-width: $tablet-large) {
      padding-top: 0;
      height: 100%;
    }

    .et_pb_row {
      .et_pb_column {
        &:last-child {
          @media (max-width: $tablet-large) {
            margin-top: 8em;
          }

          @media (max-width: $mobile-medium) {
            margin-top: 0;
          }
        }

        &:first-child {
          position: relative;
          bottom: 2em;

          .dsm_floating_multi_images {
            animation: none;

            .et_pb_module {
              animation: none;

              &:first-child {
                width: 23em;
                max-width: 30vw;
                z-index: 2;

                @media (max-width: $tablet-large) {
                  width: 100%;
                  max-width: 100%;
                  left: 0 !important;
                }
              }

              &:nth-child(2) {
                z-index: 3;
                top: -70% !important;

                @media (max-width: $screen-large) {
                  top: -35% !important;
                }

                @media (max-width: $tablet-large) {
                  display: none;
                }
              }

              &:nth-child(3) {
                left: -20% !important;
                top: -205% !important;

                @media (max-width: $screen-large) {
                  left: -30% !important;
                  top: -160% !important;
                }

                @media (max-width: $tablet-large) {
                  display: none;
                }
              }

              .et_pb_module_inner {
                display: flex;
                justify-content: center;

                img {
                  border-radius: 30px;

                  @media (max-width: $tablet-large) {
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }

      h2 {
        color: $color-white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $color-white;
        font-family: $font-primary;
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 1.12px;
        width: 10em;

        @media (max-width: $tablet-large) {
          font-size: 35px;
          width: 100%;
        }
      }

      .description {
        color: $color-white;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4px;

        @media (max-width: $tablet-large) {
          font-size: 15px;
        }
      }
    }
  }
}
