.et_pb_section {
  &.blog-contact {
    padding-bottom: 0;

    &.reversed {
      .et_pb_row {
        display: flex;
        flex-direction: row-reverse;

        @media (max-width: $tablet-large) {
          flex-direction: column;
        }

        .et_pb_column {
          &:first-child {
            margin-left: 3em;

            @media (max-width: $tablet-large) {
              margin-left: 0;
            }
          }
        }
      }
    }

    h1 {
      font-size: 56px;
      color: $color-primary;
      font-family: $font-primary;
      margin-bottom: -0.5em;
      margin-top: 1em;

      @media (max-width: $tablet-large) {
        font-size: 35px;
      }
    }

    .et_pb_text_inner {
      font-family: $font-secondary;
      font-size: 20px;
      color: $color-black;
      line-height: 30px;
      letter-spacing: 0.4px;

      @media (max-width: $tablet-large) {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }

  .consultation-form {
    border-radius: 50px;
    background: radial-gradient(
      207.39% 206.81% at 49.86% 50%,
      rgb(255 255 255 / 49%) 14.93%,
      #54afa4 95.24%
    );
    padding: 3em 2.5em;

    h2 {
      color: $color-primary;
      font-family: $font-primary;
      font-size: 50px;
      margin-bottom: -0.5em;

      @media (max-width: $tablet-large) {
        font-size: 35px;
      }
    }

    .et_pb_text_inner {
      font-family: $font-secondary;
      font-size: 20px;
      color: $color-black;
      line-height: 30px;
      letter-spacing: 0.4px;

      @media (max-width: $tablet-large) {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
}
