.gform-body {
  &.gform_body {
    margin-top: 2em;

    input,
    textarea {
      color: $color-quaternary;
      border-radius: 10px;
      border: 1px solid $color-quaternary;
      background: $color-white;
      width: 100%;
      margin: -0.5em;
    }
  }
}

.gform_footer {
  &.before,
  &.top_label {
    display: flex;
    justify-content: center;

    .gform_button {
      &.button {
        background: $color-orange !important;
        color: $color-white;
        border-radius: 50px !important;
        text-transform: uppercase !important;
        font-family: $font-secondary !important;
        font-size: 17px !important;
        font-weight: 700 !important;
        width: 100% !important;
        margin-top: 1em !important;
        transition: 0.3s all !important;

        &:hover {
          background: none !important;
          border: 2px solid $color-orange !important;
          color: $color-orange !important;
        }
      }
    }
  }
}
