.et_pb_section {
  &.text-img-bg {
    padding: 7em 1em;
    background: $color-primary;

    @media (max-width: $tablet-medium) {
      background-position-x: -27em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgb(43 67 88 / 0%) -35.94%,
        #2b4358 87.09%
      );
      opacity: 0.8;
    }

    h1 {
      color: $color-white;
      text-align: center;
      font-family: $font-primary;
      font-size: 70px;
      font-weight: 400;
      letter-spacing: 1.4px;

      @media (max-width: $tablet-large) {
        font-size: 30px;
        line-height: 35px; /* 116.667% */
        letter-spacing: 0.6px;
      }
    }

    .text-orange {
      color: $color-orange;
    }
  }

  &.hero-image-carousel {
    padding-top: 0;
    padding-bottom: 0;

    .et_pb_row {
      padding: 0;
      width: 100%;
      max-width: 100%;

      .swiper-container {
        margin-bottom: 0;

        @media (max-width: $tablet-large) {
          height: 10.5em;
        }

        &::before {
          content: ''; // ::before and ::after both require content
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            180deg,
            rgb(43 67 88 / 0%) -35.94%,
            #2b4358 87.09%
          );
          opacity: 0.8;
          z-index: 2;
        }
      }
    }

    .dsm_image_carousel {
      .swiper-pagination-bullets {
        bottom: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
          background: rgb(255 255 255 / 60%);
          height: 14px;
          width: 14px;

          @media (max-width: $tablet-large) {
            height: 12px;
            width: 12px;
          }

          &.swiper-pagination-bullet-active {
            background: $color-white;
            height: 20px;
            width: 20px;

            @media (max-width: $tablet-large) {
              height: 16px;
              width: 16px;
            }
          }
        }
      }
    }
  }

  &.title-description {
    padding-bottom: 5em;

    &.gradient {
      background-image: linear-gradient(
        78deg,
        rgb(84 175 164 / 20%) -41.02%,
        rgb(255 255 255 / 20%) 74.76%
      );
    }

    h2 {
      color: $color-primary;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $color-primary;
      font-family: $font-primary;
      font-size: 56px;
      font-weight: 400;
      letter-spacing: 1.12px;

      @media (max-width: $tablet-large) {
        font-size: 35px;
        letter-spacing: 0.7px;
      }
    }

    .description {
      color: $color-black;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4px;

      @media (max-width: $tablet-large) {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 0.3px;
      }
    }
  }

  &.hero-image-fullwidth {
    &::before {
      content: '';
      opacity: 0.8;
      background: linear-gradient(
        180deg,
        rgb(43 67 88 / 0%) -35.94%,
        #2b4358 87.09%
      );
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  &.home-hero {
    padding: 9em 0;

    &::after {
      content: '';
      background-image: url('../assets/svg/hero-bg-accent.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 19em;
      height: 22em;
      position: absolute;
      opacity: 0.1;
      bottom: 0;
      right: 0;

      @media (max-width: $mobile-medium) {
        width: 15em;
        height: 17em;
      }
    }

    h1 {
      color: $color-white;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $color-white;
      font-family: $font-primary;
      font-size: 70px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.4px;
    }

    .description {
      .et_pb_text_inner {
        color: $color-white;
        font-family: $font-secondary;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4px;
        width: 28em;

        @media (max-width: $mobile-medium) {
          width: 100%;
          font-size: 15px;
          line-height: 26px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}
