.et_pb_section {
  &.program-info-block {
    padding: 0;
    border-radius: 70px;
    height: 70vh;
    margin: 5em auto;
    width: calc(90% - 1em);
    max-width: 1450px;
    background-size: 40em;

    @media (max-width: $screen-medium-large) {
      width: calc(95% - 2em);
    }

    &.content-right,
    &.content-left {
      @media (max-width: $tablet-large) {
        background-size: cover;
        background-position: center;
      }

      .et_pb_row {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;

        @media (max-width: $tablet-large) {
          display: flex;
          align-items: end;
        }
      }
    }

    &.content-right {
      background-position: left;

      .et_pb_row {
        display: flex;
        justify-content: end;
      }
    }

    &.content-left {
      background-position: right;

      .et_pb_row {
        display: flex;
        justify-content: start;
        padding: 0;
      }
    }

    .et_pb_column {
      background: radial-gradient(
        207.39% 206.81% at 49.86% 50%,
        rgb(255 255 255) 14.93%,
        #54afa4 95.24%
      );
      border-radius: 70px 70px 20px;
      padding: 4em 3em;
      max-width: 100%;
      width: 50%;

      @media (max-width: $tablet-large) {
        padding: 2em;
      }

      @media (max-width: $tablet-large) {
        width: 100%;
      }

      .et_pb_blurb_content {
        margin: 0;

        .et_pb_image_wrap {
          display: flex;
        }

        h4 {
          color: $color-primary;
          -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: $color-primary;
          font-family: $font-primary;
          font-size: 56px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.12px;

          @media (max-width: $tablet-large) {
            font-size: 35px;
          }

          &::before {
            content: 'Program';
            display: block;
            color: $color-tertiary;
            -webkit-text-stroke-width: 0.25px;
            -webkit-text-stroke-color: $color-tertiary;
            font-family: $font-primary;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;

            @media (max-width: $tablet-large) {
              font-size: 15px;
            }
          }
        }

        .et_pb_blurb_description {
          color: $color-black;
          font-family: $font-secondary;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.4px;

          @media (max-width: $tablet-large) {
            font-size: 15px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
