.et_pb_section {
  &.social-slider {
    padding-bottom: 6em;

    h2 {
      color: $color-primary;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $color-primary;
      font-family: $font-primary;
      font-size: 56px;
      font-weight: 400;
      letter-spacing: 1.12px;
      width: 10em;
      margin-bottom: 1em;

      @media (max-width: $tablet-large) {
        margin-bottom: 0;
      }
    }

    .et_pb_module_inner {
      height: 40vh;
      display: flex;
      align-items: end;
      border-radius: 30px;

      @media (max-width: $tablet-large) {
        height: 30em;
      }

      .swiper-container {
        margin-bottom: 0 !important;
        height: 22em;
        display: flex;
        align-items: center;

        @media (max-width: $tablet-large) {
          height: 32em;
        }

        .dsm_card_carousel_child {
          &::before {
            content: '';
            background: linear-gradient(
              180deg,
              rgb(43 67 88 / 0%) -5.8%,
              rgb(43 67 88 / 85%) 108.7%
            );
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 30px;
            z-index: 1;
          }

          &.swiper-slide-active {
            transform: scale(1.08);
            padding: 0 1em;
            transition: 0.3s all;

            @media (max-width: $tablet-large) {
              transform: none;
            }

            &::before {
              content: '';
              background: linear-gradient(
                180deg,
                rgb(43 67 88 / 0%) -5.8%,
                rgb(43 67 88 / 85%) 108.7%
              );
              position: absolute;
              height: 100%;
              width: calc(96% - 1em);
              top: 0;
              left: 0;
              border-radius: 30px;
              z-index: 1;
              right: 0;
              margin: 0 auto;

              @media (max-width: $tablet-large) {
                width: calc(98% - 1em);
              }
            }

            .dsm_card_carousel_child_image_wrapper {
              z-index: 3;

              @media (max-width: $tablet-large) {
                margin: 1em 2em !important;
              }
            }

            .et_pb_module_inner {
              box-shadow: 0 8px 13px -2px gray;

              @media (max-width: $tablet-large) {
                transform: none;
              }
            }
          }

          .dsm_card_carousel_child_image_wrapper {
            justify-content: end;
            margin: 1em;
            z-index: 1;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        &::before {
          color: $color-orange;
          font-size: 3em;
          position: relative;
          bottom: 0.5em;

          @media (max-width: $tablet-large) {
            bottom: 0;
          }
        }
      }

      .swiper-button-prev {
        @media (max-width: $tablet-large) {
          left: -3em !important;
        }

        @media (max-width: $mobile-medium) {
          left: -2em !important;
        }
      }

      .swiper-button-next {
        @media (max-width: $tablet-large) {
          right: -2.5em !important;
        }

        @media (max-width: $mobile-medium) {
          right: -1em !important;
        }
      }

      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        .swiper-pagination-bullet {
          background: rgb(84 175 164 / 60%) !important;

          &.swiper-pagination-bullet-active {
            background: rgb(84 175 164 / 100%) !important;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
