.et_pb_section {
  &.tabs-section {
    .section-label {
      margin-bottom: 0;

      .et_pb_text_inner {
        color: $color-orange;
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: 20px;
        letter-spacing: 2px;
      }
    }

    .section-title {
      h2 {
        color: $color-white;
        font-size: 56px;
        font-family: $font-primary;
        letter-spacing: 1.12px;
        text-transform: capitalize;
      }
    }

    .description {
      color: $color-white;
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.4px;
    }

    .dsm_advanced_tabs {
      border-top: 2px solid $color-orange;
      padding-top: 3em;
      margin-top: 2em;

      .dsm-advanced-tabs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .dsm-advanced-tabs-wrapper {
          flex-direction: column;
          position: relative;
          top: 5em;

          .dsm-tab {
            background: none;
            display: flex;
            align-items: center;

            &.dsm-active {
              &::before {
                content: '';
                background-image: url('../assets/svg/tab-bullet-active.svg');
                height: 2.5em;
                width: 2.5em;
                margin-right: 2em;
              }

              .dsm-title {
                color: $color-white;
                font-size: 28px;
                font-weight: 700;
                letter-spacing: 2.8px;
              }
            }

            &::before {
              content: '';
              background-image: url('../assets/svg/tab-bullet-inactive.svg');
              height: 2.5em;
              width: 2.5em;
              margin-right: 2em;
              background-repeat: no-repeat;
              background-position: center;
              opacity: 0.5;
            }

            .dsm-title {
              color: $color-light-gray;
              font-family: $font-secondary;
              font-size: 24px;
              line-height: 30px;
              letter-spacing: 2.4px;
              text-transform: uppercase;
              text-align: left;
            }
          }
        }

        .dsm-advanced-tabs-content-wrapper {
          .dsm-content-wrapper {
            &.dsm-active {
              background: none;
              border: none;

              .dsm-inner-content-wrapper {
                align-items: start;

                .dsm-content {
                  font-family: $font-secondary;
                  font-size: 20px;
                  line-height: 30px;
                  letter-spacing: 0.4px;
                }

                .dsm_button {
                  width: 12.5em !important;
                  margin-top: 3em;

                  &:hover {
                    background: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.dark-bg {
      background: $color-quaternary;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(43 67 88 / 65%);
      }

      .dsm-advanced-tabs-container {
        .dsm-advanced-tabs-content-wrapper {
          .dsm-content-wrapper {
            &.dsm-active {
              .dsm-inner-content-wrapper {
                .dsm-content {
                  color: $color-white;
                }
              }
            }
          }
        }
      }
    }

    &.light-bg {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          82deg,
          rgb(84 175 164 / 0%) -14.67%,
          rgb(193 226 222 / 38%) 14.33%,
          rgb(255 255 255 / 50%) 53.95%,
          rgb(255 255 255 / 80%) 92.52%
        );
      }

      .dsm_button {
        &:hover {
          color: $color-primary !important;
          background: $color-white !important;
          border: 1px solid $color-primary !important;
        }
      }

      .section-title {
        h2 {
          color: $color-primary;
        }
      }

      .description {
        color: $color-black;
      }

      .dsm-advanced-tabs-container {
        .dsm-advanced-tabs-wrapper {
          .dsm-tab {
            &.dsm-active {
              .dsm-title {
                color: $color-primary;
                font-size: 28px;
                font-weight: 700;
                letter-spacing: 2.8px;
              }
            }

            .dsm-title {
              color: $color-white;
            }
          }
        }

        .dsm-advanced-tabs-content-wrapper {
          .dsm-content-wrapper {
            &.dsm-active {
              .dsm-inner-content-wrapper {
                .dsm-content {
                  color: $color-black;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-large) {
  .et_pb_section {
    &.tabs-section {
      background-position: center !important;

      .section-label {
        .et_pb_text_inner {
          font-size: 13px;
        }
      }

      .section-title {
        h2 {
          font-size: 35px;
        }
      }

      .description {
        font-size: 15px;
        line-height: 26px;
      }

      .dsm_advanced_tabs {
        padding-top: 0;
        margin-top: 0;

        .dsm-advanced-tabs-container {
          display: flex;

          .dsm-advanced-tabs-wrapper {
            .dsm-tab {
              &.dsm-active {
                .dsm-title {
                  font-size: 22px;
                }
              }

              .dsm-title {
                font-size: 18px;
              }
            }
          }

          .dsm-advanced-tabs-content-wrapper {
            margin-top: 8em;

            .dsm-content-wrapper {
              &.dsm-active {
                .dsm-inner-content-wrapper {
                  .dsm-content {
                    font-size: 15px;
                  }

                  .dsm_button {
                    font-size: 17px;
                    margin-top: 2em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
