.container.clearfix {
  max-width: 1478px;
  width: 100%;
}

#page-container {
  padding-top: 8em !important;

  @media (max-width: $tablet-large) {
    padding-top: 9em !important;
  }
}

h2 {
  font-size: 34px;
}

.et_pb_row {
  // Divi's default is 1080px
  max-width: 1478px;
  width: 100%;

  @media (max-width: $screen-row-width) {
    width: calc(94% - 2em);
  }

  @media (max-width: $tablet-large) {
    width: 90%;
  }
}
