.container.clearfix {
  max-width: 1478px;
  width: 100%;
}

#page-container {
  padding-top: 8em !important;

  @media (max-width: $tablet-large) {
    padding-top: 9em !important;
  }
}

.et_pb_section {
  &.divider {
    padding-top: 2em !important;

    .et_pb_divider {
      &::before {
        border: 0.5px solid $color-orange;
        background: $color-orange;
      }
    }
  }
}

@media (max-width: $tablet-large) {
  body,
  html {
    overflow-x: hidden !important;
  }
}

body {
  // Divi's default "Regular" font-weight is 500
  font-weight: 400;
  font-size: 20px;

  @media (max-width: $tablet-large) {
    font-size: 15px;
  }
}

h2 {
  font-size: 2.8em;

  @media (max-width: $screen-large) {
    font-size: 2.3em !important;
  }
}

.font-weight-400 {
  font-weight: 400;
}

.et_pb_row {
  // Divi's default is 1080px
  max-width: 1478px;
  width: 100%;

  @media (max-width: $screen-row-width) {
    width: calc(94% - 2em);
  }

  @media (max-width: $tablet-large) {
    width: 90%;
  }
}

.et_pb_button {
  color: $color-white !important;
  border: 1px solid $color-orange;
  background-color: $color-orange;
  border-radius: 30px;
  width: 12.5em !important;
  text-transform: uppercase;
  padding: 0.5em 2em !important;
  font-weight: 600;
  font-size: 17px !important;
  text-align: center;

  @media (max-width: $mobile-medium) {
    width: 13em !important;
  }

  &::after {
    display: none;
  }

  &:hover {
    color: $color-orange !important;
    background: none !important;
    border: 1px solid $color-orange !important;
  }

  &.secondary {
    background: none !important;
    color: $color-orange !important;
    border: 1px solid $color-orange;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px !important;
    font-weight: 700;

    &:hover {
      background: $color-orange !important;
      color: $color-white !important;
      border: 1px solid $color-orange !important;
    }
  }
}

.et_pb_code_inner {
  .custom-button {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      background-size: 0.5em;
      height: 2em;
      width: 1em;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      background-image: url('../assets/svg/left-bracket.svg');
    }

    &::after {
      background-image: url('../assets/svg/right-bracket.svg');
    }

    .tertiary {
      background: none !important;
      color: $color-orange !important;
      text-align: center !important;
      text-transform: uppercase;
      font-size: 17px !important;
      font-weight: 700;
      border-radius: 0;
      border: none;
      width: 17em;
      max-width: 100%;
      transition: 0.3s all;
      padding: 0.5em;

      &:hover {
        color: $color-primary !important;
        border: none;
      }
    }
  }
}
