// Brand Colors
$color-primary: #2b4358;
$color-secondary: #0c8082;
$color-tertiary: #54afa4;
$color-quaternary: #b7b7b7;
$color-light-gray: #bdbdbd;
$color-orange: #ed951d;
$color-white: #fff;
$color-black: #000;

// Fonts
$font-primary: 'Nunito Sans', helvetica, arial, lucida, sans-serif;
$font-secondary: 'Open Sans', helvetica, arial, lucida, sans-serif;
$font-awesome: 'FontAwesome' !important;
$et-modules: 'ETmodules' !important;

// Font Sizes
$h1: 3.5em; // 70px 52.5px
$h2: 2.8em; // 56px 42px
$h3: 2em; // 32px
$h4: 1.5em; // 30px
$h5: 1.5em; // 24px
$h6: 1.25em; // 20px
$body-large: 1.75em; // 18px
$body-standard: 1em;
$body-large: 1.625em;
$body-small: 0.875em;

// TODO: Figure out Divi Breakpoints
$container-large-width: 1478px;
$container-fluid-width: 1320px;
$container-fluid-break: 1400px;
$container-small-width: 1080px;

// Mobile First
$screen-x-large: 1728px;
$screen-medium-large: 1630px;
$screen-row-width: 1550px;
$max-row-width: 1478px;
$screen-large: 1400px;
$screen-medium: 1200px;
$screen-small: 1024px;
$tablet-large: 980px;
$tablet-medium: 768px;
$mobile-large: 667px;
$mobile-medium: 576px;
$mobile-small-medium: 390px;
$mobile-small: 375px;
$mobile-x-small: 320px;

// Desktop First
$screen-x-xlarge: 1679.98px;
$screen-x-large: 1439.98px;
$screen-x-medium: 1199.98px;
$screen-x-small: 1023.98px;
$tablet-x-large: 979.98px;
$tablet-x-medium: 767.98px;
$mobile-x-large: 666.98px;
$mobile-x-medium: 575.98px;
$mobile-x-small: 374.98px;
